.message {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.message-info {
  background: steelblue;
  color: white;
  font-weight: 300;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
}

.message-close {
  float: right;
  cursor: pointer;
}

.message-contact {
  height: 105px;
  width: 95%;
}

.hide {
  display: none;
}
